@CHARSET "UTF-8";

/** DIV containers **/
div.story-container{
	background:#fff;
	padding: 10px;
}

div.story-container:hover{
	background:#e5e5e5;
}

div.similar-artist{
	color:#fff;
	background:#37313a;
	padding:5px;
	text-align:center;
	border-radius:3px;
	font-size:10px;
}

div#artist-news{
	max-height:300px;
	overflow:scroll;
}

ul.right li{
	width:80px;
	text-align:center;
}

img{
	width:127px;
	height:140px;
	overflow:hidden;
}